<!--one-way data binding:      value="{{username}}"           -->
<!--two-way data binding:      [(ngModel)] = "username"       -->
<h1>login</h1>

<div class="container">
    <div class="alert alert-warning" *ngIf='invalidlogin'>{{errorMessage}}</div>
    <div>
        User name : <input type="text" name="username" [(ngModel)]="username">
        <!--value="{{username}}"-->
        Password : <input type="password" name="password" [(ngModel)]="password">
        <!--value="{{password}}"-->
    </div>
    <!--<button (click)=handleLogin() class="btn btn-success">Log In</button>-->
    <!--<button (click)=handleBasicAuthLogin() class="btn btn-success">Log In</button>-->
    <button (click)=handleJWTAuthLogin() class="btn btn-success">Log In</button>
</div>