<h1>My ToDos</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>description</th>
                <th>target date</th>
                <th>is completed</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <!--for(Todo todo : todos)-->
            <tr *ngFor="let todo of todos">
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date | uppercase}}</td>
                <td>{{todo.done}}</td>
                <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteToDo(todo.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div (click)="addTodo()" class="btn btn-success">Add</div>
</div>