

<!--<app-welcome></app-welcome>-->
<!--
<app-login></app-login>
<div>Component Content {{title}}</div>
-->

<app-menu></app-menu>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
