<h1>Welcome</h1>
<div class="container">
{{name}}, it works! You can manage yout todos <a routerLink="/todos">here</a>
</div>

<div class="container">
    Click here to get a custonmized message
    <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get welcome message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <h1>Your customized message</h1>
    {{welcomeMessageFromService}}
</div>