<h1>To Do</h1>

<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Description</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Target date</div>

    <form (ngSubmit)="!todoForm.invalid && saveToDo()" #todoForm="ngForm">

        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" 
            #description="ngModel"
            [(ngModel)]="todo.description" class="form-control" name="description" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label>Target date</label>
            <input type="date" 
            #targetDate="ngModel"
            [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
                (ngModelChange)="todo.targetDate = $event" class="form-control" name="targetDate" required="required">
        </fieldset>
        
        <button type="submit" class="btn btn-success">Save</button>
        <!--<button (click)="saveToDo()" class="btn btn-success">Save</button>-->
    </form>
</div>